body {
    display: flex;
    font-family: "Orbitron", sans-serif;
    background-color: #05022b;
    color: rgb(245, 245, 245);
}

#app {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;
}

#title {
    font-weight: 600;
    margin-top: 3em;
    font-size: 6em;
}

#startButton {
    display: flex;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    background-image: radial-gradient(#ffb800, #ff8f0c);
    border-color: #ff8f0c;
    border-radius: 50px;
    color: rgb(66, 31, 2);
    padding: 0.85em 2.25em;
    font-size: 2em;
    font-weight: 600;
}

#randomBtn,
#orientationBtn {
    margin: 0 auto 1em auto;
    background-image: radial-gradient(#ffb800, #ff8f0c);
    border-color: #ff8f0c;
    color: rgb(66, 31, 2);
    cursor: pointer;
    border-style: solid;
    padding: 0.5em 0.75em;
    border-radius: 60px;
}

#orientationBtn {
    margin-bottom: 2em;
}

.computerGrid,
.playerGrid,
.playerPlacementGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: auto;
    height: 500px;
    width: 500px;
    color: #000000;
    font-size: 2.25em;
    font-weight: 600;
    box-shadow: 0px 0px 20px 8px #d8e7f5;
}

.playerGrid {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.playerPlacementGrid {
    margin-top: 10%;
    margin-bottom: 2em;
    box-shadow: 0px 0px 62px 25px #d8e7f5;
}

.playerSquares,
.computerSquares {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e6988;
    border-top: solid #808080;
    border-left: solid #808080;
    border-width: 0.5px;
    cursor: pointer;
    /* outline-style: inset;
    outline-width: 2.5px;
    outline-color: rgb(255, 81, 0);*/
}

.computerTargeting {
    box-shadow: inset 0 0 0 100px rgba(255, 165, 0, 0.5);
}

.playerSquares:hover,
.computerSquares:hover {
    background-color: #e7f4fa;
}

.typeWrapper {
    display: flex;
    margin-bottom: 3px;
    margin-right: 3px;
}

#battleshipWrapper,
#cruiserWrapper {
    margin-bottom: 4px;
    margin-right: 4px;
}

#battleshipWrapper {
    margin-bottom: 6px;
    margin-right: 6px;
}

.typeWrapper.vertical {
    flex-direction: column-reverse;
}

.fleetWrapper.vertical {
    display: flex;
}

.battleshipCountDiv,
.cruiserCountDiv,
.subCountDiv,
.destroyerCountDiv {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.battleship,
.cruiser,
.sub,
.destroyer {
    height: 47px;
    background-color: rgba(218, 216, 226, 0.9);
    position: relative;
    cursor: move;
    display: flex;
}

.clone {
    cursor: none;
}

.battleship {
    width: 200px;
}

.battleship.vertical {
    width: 47px;
    height: 200px;
    flex-direction: column;
}

.cruiser {
    width: 149px;
    display: flex;
}

.cruiser.vertical {
    width: 47px;
    height: 149px;
    flex-direction: column;
}

.cruiserCell {
    width: 33.3%;
}

.destroyerCell {
    width: 100%;
}

.subCell {
    width: 50%;
}

.subCell.vertical {
    height: 50%;
    width: 100%;
}

.battleshipCell {
    width: 25%;
}

.battleshipCell.vertical {
    height: 25%;
    width: 100%;
}

.cruiserCell.vertical {
    height: 33.3%;
    width: 100%;
}

.sub {
    width: 96px;
}

.sub.vertical {
    height: 96px;
    width: 47px;
    flex-direction: column;
}

.destroyer {
    width: 47px;
}

.userMsg,
.sunkMsg {
    margin: 1em 0;
    font-size: 1.5em;
}

@media screen and (max-width: 1080px) {
    #title {
        font-size: 4em;
    }
    #startButton {
        padding: 0.5em 2em;
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 3em;
    }
    #startButton {
        padding: 0.25em 1.75em;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .computerGrid,
    .playerGrid,
    .playerPlacementGrid {
        height: 300px;
        width: 300px;
        font-size: 1.25em;
    }

    .playerGrid {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 440px) {
    #title {
        font-size: 2em;
    }
}

@media screen and (max-width: 1300px) {
    .fleetWrapper {
        display: none;
    }

    #orientationBtn {
        display: none;
    }

    #randomBtn {
        font-size: 0.75em;
    }
}

@media screen and (max-height: 1024px) {
    .playerGrid {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    .computerGrid,
    .playerGrid {
        height: 280px;
        width: 280px;
        font-size: 1em;
    }

    .userMsg,
    .sunkMsg {
        margin-top: 0.5em;
        font-size: 1em;
    }
}
