.computerGrid,
.playerGrid,
.playerPlacementGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: auto;
    height: 500px;
    width: 500px;
}

.playerSquares,
.computerSquares {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adc7d9;
    border-top: solid #808080;
    border-left: solid #808080;
    cursor: pointer;
}

.playerSquares:hover,
.computerSquares:hover {
    background-color: #e7f4fa;
}

.typeWrapper {
    display: flex;
}

.battleshipCountDiv,
.cruiserCountDiv,
.subCountDiv,
.destroyerCountDiv {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.battleship,
.cruiser,
.sub,
.destroyer {
    height: 47px;
    background-color: rgba(16, 11, 83, 0.9);
    position: relative;
    cursor: move;
    display: flex;
}

.clone {
    cursor: none;
}

.battleship {
    width: 200px;
}

.cruiser {
    width: 149px;
    display: flex;
}

.cruiserCell {
    width: 33.3%;
}

.destroyerCell {
    width: 100%;
}

.subCell {
    width: 50%;
}

.battleshipCell {
    width: 25%;
}

.sub {
    width: 96px;
}

.destroyer {
    width: 48px;
}
